{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}

    <!-- Services -->
    <section id="services">
        <div class="container"">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="activiteclass">
                <span class="fa-stack fa-5x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                </span>
                    <h2 class="section-heading-act text-uppercase">Activités de loisirs</h2>
                </div>
                <div class="row">
                    <div class="col-lg-1 text-center">
                    </div>
                    <div class="col-lg-10 text-center">
                        <div align="justify">
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><b><i><span style="font-size:18.0pt;
font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
color:dimgray;mso-fareast-language:FR-BE"><u>15 activités de loisirs possibles :</u></span></i></b></p>
                            <p class="MsoNormal"></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; line-height: normal;"><i><span style="font-family: Helvetica, sans-serif; color: dimgray; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><br /></span></i></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family: Helvetica, sans-serif; color: dimgray; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">1</span></i><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE">)&nbsp;&nbsp; &nbsp;Jouer aux échecs, aux dames, à des jeux de
stratégie, à des jeux en ligne,&nbsp;</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family: Helvetica, sans-serif; color: dimgray; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">à des jeux sur consoles, à des jeux de société
(Monopoly, Scrabble, backgammon, etc.)</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE">2)&nbsp;&nbsp; &nbsp;Résoudre un problème, un casse-tête, des mots
croisés, mots cachés, etc.&nbsp;</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE">3)&nbsp;&nbsp; &nbsp;Réparer ou démonter et remonter les appareils
ménagers, électroniques, les jouets&nbsp;</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE">4)&nbsp;&nbsp; &nbsp;Rendre des services à des étudiants, à des
personnes âgées, à l'hôpital ou ailleurs</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE">5)&nbsp;&nbsp; &nbsp;Participer à des campagnes humanitaires :
Croix-Rouge, Téléthon, MSF, WWF, et autres</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE">6)&nbsp;&nbsp; &nbsp;Visiter les gens qui sont malades, pauvres ou en
difficultés</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE">7)&nbsp;&nbsp; &nbsp;Organiser une tombola, une fête d'école ou de
quartier</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE">8)&nbsp;&nbsp; &nbsp;Donner des cadeaux à des enfants qui sont malades</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE">9)&nbsp;&nbsp; &nbsp;Aider des personnes âgées à faire leurs courses</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE">10)&nbsp;&nbsp; &nbsp;Histoires humoristiques ou histoires drôles,
vraies</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE">11)&nbsp;&nbsp; &nbsp;Aller dans des médiathèques et des bibliothèques</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE">12)&nbsp;&nbsp; &nbsp;Aller dans les musées ou à des expositions</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE">13)&nbsp;&nbsp; &nbsp;Faire du jogging, du yoga et des promenades</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE">14)&nbsp;&nbsp; &nbsp;Parler de philosophie et de spiritualité</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE">15)&nbsp;&nbsp; &nbsp;Construire des maquettes diverses</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>
                            <p class="MsoNormal">



































                            </p>
                            <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family: Helvetica, sans-serif; color: dimgray; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><br />
Le tarif des activités de loisirs payantes sont ajustées à la situation
financière de la personne intéressée.</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>
                            <p class="MsoNormal"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
color:dimgray;background:white"><br /></span></i></p>
                            <p class="MsoNormal"><br /></p>
                            <p class="MsoNormal"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
color:dimgray;background:white"><br /></span></i></p>
                            <i><span style="font-size: 8.5pt; font-family: Verdana, sans-serif; color: dimgray; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"></span></i>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>        <!-- Localisation -->
    <footer>
        <div class="container full-height">
            <div class="row coordonnees">
                <div class="col-md-3">
                    <img src="/img/logo-footer.png" class="img-fluid full-img" alt=""/>
                </div>
                <div class="col-md-4">
                    <h5 style="margin-top:75px;"><span style="color:rgba(0,82,158,1);">Espace</span> <span style="color:rgba(157,202,33,1);">Furcan</span> <span style="color:rgba(0,82,158,1);">asbl</span></h5>
                    <p class="text-muted" style="font-size:0.85em; font-weight: bold;">Avenue Notre Dame 123, 1140 Evere, ouvert tous les jours de 10h00 à 20h00, fermé le vendredi.</p>
                </div>
                <div class="col-md-3">
                    <p class="text-muted" style="margin-top:55px; font-size:85%;font-weight: bold;"><span style="color:rgba(0,82,158,1);">Tel : 02 256 85 49<br/>Mail : info@espacefurcan.be</span></p>
                    <p class="text-muted" style="font-size:0.85em;font-weight: bold;"><span style="color:rgba(0,82,158,1);">N° E. : 0693 709 950<br/>IBAN : BE87 7350 5000 4494</span></p>
                </div>
                <div class="col-md-2">
                    <p class="text-muted" style="margin-top:185px; font-size:0.6em;font-weight: bold;"><span style="color:rgba(0,82,158,1);">Copyright © All Rights Reserved</span></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.easing.js"></script>
    <script src="/js/agency.js"></script>
    <script src="/js/myjs.js"></script>
    </body>
    </html>

{% endblock %}