{% extends 'base.html.twig' %}
{% block body %}
<h1>aide et conseil</h1>
    <div class="col-lg-10 text-center">
        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal;"><b><i><span style="font-size:18.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><u>Aide :</u></span></i></b></p>
        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal;"><b><i><span style="font-size:18.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></b></p>
        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE">L’asbl aide les
personnes désireuses d’être aidées dans le domaine du numérique, dans la vie en
général ou dans le but d’entamer ou de réussir un projet par tous les moyens
possibles en mettant l’accent sur la recherche de stratégies efficaces via
Internet.&nbsp;</span></i></p>

        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal;"><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:black;mso-fareast-language:FR-BE"><o:p>&nbsp;</o:p></span></p>

        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE">Les aides sont
organisées par ½ heure, les tarif varient selon les difficultés sociales de la
personne intéressée, à savoir 3 euros pour une personne qui est au CPAS, 4 euros
pour une personne qui est au chômage et/ou pour une personne dont les revenus
de son ménage ne dépassent pas 1.250,00 euros net par mois, 5 euros pour un
étudiant ou pour une personne dont les revenus de son ménage ne dépassent pas
1.750,00 euros net par mois ou pour une personne qui travaille dans une asbl, 6
euros pour une personne dont les revenus de son ménage ne dépassent pas
2.250,00 euros net par mois et/ou pour une famille nombreuse, 7 euros pour une
personne dont les revenus de son ménage ne dépassent pas 2.750,00 euros net par
mois et 8 euros pour une personne dont les revenus de son ménage dépassent les
2.750,00 euros net par mois.</span></i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;mso-fareast-language:
FR-BE"><o:p></o:p></span></p>

        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal;"><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:black;mso-fareast-language:FR-BE"><o:p>&nbsp;</o:p></span></p>

        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE">Un abonnement
mensuel est possible aux mêmes conditions tarifaires que précédemment, qui
donne droit à une aide d’une ½ heure par mois et avec en plus une aide offerte
gratuite d’une ½ heure par mois, ce qui fait un total de 24 aides d’une ½ heure
par an.</span></i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:black;mso-fareast-language:FR-BE"><o:p></o:p></span></p>

        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE">L’abonnement est
payable par mois ou en deux fois (par 6 mois), dans ce cas 1 mois est offert ou
bien encore en une seule fois pour toute l’année, dans ce cas 2 mois sont
offerts.</span></i></p>
        <div><br /></div>

        <div>
            <p><br /></p>
        </div>
        <div>

            <table width="820" cellspacing="0" cellpadding="0" border="0"><colgroup><col style="mso-width-source:userset;mso-width-alt:4022;width:83pt" width="110">
                    <col style="mso-width-source:userset;mso-width-alt:12982;
 width:266pt" width="355" span="2">
                </colgroup>
                <tbody>
                <tr style="height:42.75pt" height="57">

                    <td class="xl66" style="height:42.75pt;width:83pt" width="110" height="57"><br /></td>

                    <td class="xl70" style="width: 266pt; font-size: 16pt; color: white; font-weight: 700; font-family: Calibri; border-width: 2pt 2pt 1pt; border-style: double double solid; border-color: windowtext; background-color: rgb(75, 172, 198); background-position: initial initial; background-repeat: initial initial;" width="355" align="center"><span style="text-decoration: underline;">Statut
  ou</span><br /><u>
                            Revenus par mois et par ménage</u></td>

                    <td class="xl71" style="width: 266pt; font-size: 16pt; color: white; font-weight: 700; font-family: Calibri; border-width: 2pt 2pt 1pt; border-style: double double solid; border-color: windowtext; background-color: rgb(75, 172, 198); background-position: initial initial; background-repeat: initial initial;" width="355" align="center">&nbsp;<u>Tarifs - Aide Numérique</u><br /><u>
                            par 1/2h</u></td>
                </tr>

                <tr style="height:18.75pt" height="25">

                    <td class="xl66" style="height:18.75pt" height="25"><br /></td>

                    <td class="xl67" style="font-size:14.0pt;color:black;font-weight:700;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Calibri;border-top:none;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">CPAS</td>

                    <td class="xl72" style="border-left:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:none;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">3,00 €</td>
                </tr>

                <tr style="height:18.75pt" height="25">

                    <td class="xl66" style="height:18.75pt" height="25"><br /></td>

                    <td class="xl68" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext" align="center">Chômage</td>

                    <td class="xl73" style="border-top:none;border-left:none;font-size:14.0pt;
  color:black;font-weight:700;text-decoration:none;text-underline-style:none;
  text-line-through:none;font-family:Calibri;border-top:.5pt solid windowtext;
  border-right:2.0pt double windowtext;border-bottom:.5pt solid windowtext;
  border-left:2.0pt double windowtext" align="center">4,00 €</td>
                </tr>

                <tr style="height:18.75pt" height="25">

                    <td class="xl66" style="height:18.75pt" height="25"><br /></td>

                    <td class="xl68" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">Moins de 1250€</td>

                    <td class="xl73" style="border-top:none;border-left:none;font-size:14.0pt;
  color:black;font-weight:700;text-decoration:none;text-underline-style:none;
  text-line-through:none;font-family:Calibri;border-top:.5pt solid windowtext;
  border-right:2.0pt double windowtext;border-bottom:.5pt solid windowtext;
  border-left:2.0pt double windowtext;background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">4,00
                        €</td>
                </tr>

                <tr style="height:18.75pt" height="25">

                    <td class="xl66" style="height:18.75pt" height="25"><br /></td>

                    <td class="xl68" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext" align="center">Moins
                        de 1750€</td>

                    <td class="xl73" style="border-top:none;border-left:none;font-size:14.0pt;
  color:black;font-weight:700;text-decoration:none;text-underline-style:none;
  text-line-through:none;font-family:Calibri;border-top:.5pt solid windowtext;
  border-right:2.0pt double windowtext;border-bottom:.5pt solid windowtext;
  border-left:2.0pt double windowtext" align="center">5,00 €</td>
                </tr>

                <tr style="height:18.75pt" height="25">

                    <td class="xl66" style="height:18.75pt" height="25"><br /></td>

                    <td class="xl68" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">Etudiant</td>

                    <td class="xl73" style="border-top:none;border-left:none;font-size:14.0pt;
  color:black;font-weight:700;text-decoration:none;text-underline-style:none;
  text-line-through:none;font-family:Calibri;border-top:.5pt solid windowtext;
  border-right:2.0pt double windowtext;border-bottom:.5pt solid windowtext;
  border-left:2.0pt double windowtext;background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">5,00
                        €</td>
                </tr>

                <tr style="height:18.75pt" height="25">

                    <td class="xl66" style="height:18.75pt" height="25"><br /></td>

                    <td class="xl68" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext" align="center">Travailleur
                        d'une ASBL</td>

                    <td class="xl73" style="border-top:none;border-left:none;font-size:14.0pt;
  color:black;font-weight:700;text-decoration:none;text-underline-style:none;
  text-line-through:none;font-family:Calibri;border-top:.5pt solid windowtext;
  border-right:2.0pt double windowtext;border-bottom:.5pt solid windowtext;
  border-left:2.0pt double windowtext" align="center">5,00 €</td>
                </tr>

                <tr style="height:18.75pt" height="25">

                    <td class="xl66" style="height:18.75pt" height="25"><br /></td>

                    <td class="xl68" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">Moins de 2250€</td>

                    <td class="xl73" style="border-top:none;border-left:none;font-size:14.0pt;
  color:black;font-weight:700;text-decoration:none;text-underline-style:none;
  text-line-through:none;font-family:Calibri;border-top:.5pt solid windowtext;
  border-right:2.0pt double windowtext;border-bottom:.5pt solid windowtext;
  border-left:2.0pt double windowtext;background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">6,00
                        €</td>
                </tr>

                <tr style="height:18.75pt" height="25">

                    <td class="xl66" style="height:18.75pt" height="25"><br /></td>

                    <td class="xl68" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext" align="center">Famille
                        Nombreuse</td>

                    <td class="xl73" style="border-top:none;border-left:none;font-size:14.0pt;
  color:black;font-weight:700;text-decoration:none;text-underline-style:none;
  text-line-through:none;font-family:Calibri;border-top:.5pt solid windowtext;
  border-right:2.0pt double windowtext;border-bottom:.5pt solid windowtext;
  border-left:2.0pt double windowtext" align="center">6,00 €</td>
                </tr>

                <tr style="height:18.75pt" height="25">

                    <td class="xl66" style="height:18.75pt" height="25"><br /></td>

                    <td class="xl68" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">Moins de 2750€</td>

                    <td class="xl73" style="border-top:none;border-left:none;font-size:14.0pt;
  color:black;font-weight:700;text-decoration:none;text-underline-style:none;
  text-line-through:none;font-family:Calibri;border-top:.5pt solid windowtext;
  border-right:2.0pt double windowtext;border-bottom:.5pt solid windowtext;
  border-left:2.0pt double windowtext;background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">7,00
                        €</td>
                </tr>

                <tr style="height:18.75pt" height="25">

                    <td class="xl66" style="height:18.75pt" height="25"><br /></td>

                    <td class="xl69" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:2.0pt double windowtext;border-left:2.0pt double windowtext" align="center">Plus
                        de 2750€<span style="mso-spacerun:yes">&nbsp; </span>(Prix par défaut)</td>

                    <td class="xl74" style="border-top:none;border-left:none;font-size:14.0pt;
  color:black;font-weight:700;text-decoration:none;text-underline-style:none;
  text-line-through:none;font-family:Calibri;border-top:.5pt solid windowtext;
  border-right:2.0pt double windowtext;border-bottom:2.0pt double windowtext;
  border-left:2.0pt double windowtext" align="center">8,00 €</td>
                </tr>
                </tbody></table></div>
        <div><br /></div>
        <div><br /></div>
        <div><br /></div>
        <div><br /></div>

        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal;"><b><i><span style="font-size:18.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><u>Conseil :</u></span></i></b></p>
        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal;"><b><i><span style="font-size:18.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></b></p>
        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE">L’asbl fourni des
conseils totalement gratuits. Nous faisons également appel en cas de besoin à
des organismes tiers professionnels ou qualifiés pour conseiller les personnes
désireuses d’avoir des conseils clairs, avisée et judicieux, dans ce cas également,
le service est entièrement gratuit.</span></i></p>
        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE"><br /></span></i></p>
        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE"><br /></span></i></p>
        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE"><br /></span></i></p>
        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE"><br /></span></i></p>
        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE"><br /></span></i></p>
        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE"><br /></span></i></p>
        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE"><br /></span></i></p>

    </div>
    </div>
    </div>
    </div>
    </div>
    </section>        <!-- Localisation -->
    <footer>
        <div class="container full-height">
            <div class="row coordonnees">
                <div class="col-md-3">
                    <img src="/img/logo-footer.png" class="img-fluid full-img" alt=""/>
                </div>
                <div class="col-md-4">
                    <h5 style="margin-top:75px;"><span style="color:rgba(0,82,158,1);">Espace</span> <span style="color:rgba(157,202,33,1);">Furcan</span> <span style="color:rgba(0,82,158,1);">asbl</span></h5>
                    <p class="text-muted" style="font-size:0.85em; font-weight: bold;">Avenue Notre Dame 123, 1140 Evere, ouvert tous les jours de 10h00 à 20h00, fermé le vendredi.</p>
                </div>
                <div class="col-md-3">
                    <p class="text-muted" style="margin-top:55px; font-size:85%;font-weight: bold;"><span style="color:rgba(0,82,158,1);">Tel : 02 256 85 49<br/>Mail : info@espacefurcan.be</span></p>
                    <p class="text-muted" style="font-size:0.85em;font-weight: bold;"><span style="color:rgba(0,82,158,1);">N° E. : 0693 709 950<br/>IBAN : BE87 7350 5000 4494</span></p>
                </div>
                <div class="col-md-2">
                    <p class="text-muted" style="margin-top:185px; font-size:0.6em;font-weight: bold;"><span style="color:rgba(0,82,158,1);">Copyright © All Rights Reserved</span></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.easing.js"></script>
    <script src="/js/agency.js"></script>
    <script src="/js/myjs.js"></script>
    </body>
    </html>


{% endblock %}