{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}
    <div class="container infomargin" id="localisation">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase" style="font-size:40px;">Nous Trouver</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2517.8200559299075!2d4.398871115571785!3d50.87153097953569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c33748a9a41d%3A0x69e75996af293ba6!2sAvenue+Notre+Dame+123%2C+1140+Evere!5e0!3m2!1sfr!2sbe!4v1528677812417"
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-12 text-center" style="margin-top:30px;">
                <a target="_blank" href="https://www.facebook.com/espacefurcan/"> <img src="img/fb1.png" style="width:50%;border-radius: 90px;"></a>
            </div>
        </div>
    </div>        <!-- Localisation -->
{% endblock %}