{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}
{% block body %}
    <!-- Services -->
    <section id="services">
        <div class="container"">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="activiteclass">
                <span class="fa-stack fa-5x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
                    <h2 class="section-heading-act text-uppercase">Soutien scolaire</h2>
                </div>
                <div class="row">
                    <div class="col-lg-1 text-center">
                    </div>
                    <div class="col-lg-10 text-center">
                        <div align="justify">
                            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal"><b><i><span style="font-size:18.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><u>Soutien scolaire :</u></span></i></b></p>
                            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal"><b><i><span style="font-size:18.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></b></p>
                            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE">L’asbl aidera et
soutiendra les familles désireuses de vouloir augmenter les chances de réussite
de leurs enfants par tous les moyens possibles, en mettant l’accent sur un
soutien scolaire de qualité&nbsp;et en organisant un espace de devoirs,
d’apprentissages, de découvertes et de loisirs. Tout cela également à laide d'ordinateurs mis à disposition des enfants; des ordinateurs pour les initier à l'informatique et pour les sensibiliser aux risques ou aux danger de l'Internet. Le soutien scolaire se fera par
heure, le tarif varie selon les difficultés sociales de la personne
intéressée,&nbsp;à&nbsp;savoir&nbsp;½&nbsp;euro pour une personne qui est au
CPAS,&nbsp;½euro pour une personne qui est au chômage et/ou pour une personne
dont les revenus de son ménage ne dépassent pas 1.250,00 euros net par mois, 1 euro
pour une personne dont les revenus de son ménage ne dépassent pas 1.750,00
euros net par mois ou pour une personne qui travaille dans une asbl, 1 euro pour
une personne dont les revenus de son ménage ne dépassent pas 2.250,00 euros net par
mois et/ou pour une famille nombreuse, 1,5 euro pour une personne dont les
revenus de son ménage ne dépassent pas 2.750,00 euros net par mois et 1,5 euro pour
une personne dont les revenus de son ménage dépassent les 2.750,00 euros net par
mois.</span></i></p>

                            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal"><span style="font-family: Verdana, sans-serif;">&nbsp;</span></p>

                            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE">Un abonnement
mensuel est possible aux mêmes conditions tarifaires que précédemment, qui
donnent 20 jours de soutien scolaire par mois.</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>

                            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE">L’abonnement est
payable par mois ou en deux fois (par 6 mois), dans ce cas 1 mois est offert
(sur 10 mois) ou bien encore en une seule fois pour toute l’année, dans ce cas
2 mois sont offerts (sur 10 mois).</span></i><span style="font-family: Verdana, sans-serif;"><o:p></o:p></span></p>
                            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE"><br /></span></i></p>
                            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal"><br /></p>
                            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE"><br /></span></i></p>
                            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal"><br /><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE">
 </span></i></p>
                            <table width="820" cellspacing="0" cellpadding="0" border="0"><colgroup><col style="mso-width-source:userset;mso-width-alt:4022;width:83pt" width="110">
                                    <col style="mso-width-source:userset;mso-width-alt:12982;
 width:266pt" width="355" span="2">
                                </colgroup>
                                <tbody>
                                <tr style="height:42.75pt" height="57">

                                    <td style="height:42.75pt;width:83pt" width="110" height="57"><br /></td>

                                    <td class="xl68" style="width: 266pt; font-size: 16pt; color: white; font-weight: 700; font-family: Calibri; border-width: 2pt 2pt 1pt; border-style: double double solid; border-color: windowtext; background-color: rgb(75, 172, 198); background-position: initial initial; background-repeat: initial initial;" width="355" align="center"><span style="text-decoration: underline;">Statut
  ou</span><br /><u>
                                            Revenus par mois et par ménage</u></td>

                                    <td class="xl69" style="width: 266pt; font-size: 16pt; color: white; font-weight: 700; font-family: Calibri; border-width: 2pt 2pt 1pt; border-style: double double solid; border-color: windowtext; background-color: rgb(75, 172, 198); background-position: initial initial; background-repeat: initial initial;" width="355" align="center"><u>Tarifs - Soutien Scolaire</u><br /><u>par 1h</u></td>
                                </tr>

                                <tr style="height:18.75pt" height="25">

                                    <td style="height:18.75pt" height="25"><br /></td>

                                    <td class="xl65" style="font-size:14.0pt;color:black;font-weight:700;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Calibri;border-top:none;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">CPAS</td>

                                    <td class="xl70" style="border-left:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:none;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">0,50 €</td>
                                </tr>

                                <tr style="height:18.75pt" height="25">

                                    <td style="height:18.75pt" height="25"><br /></td>

                                    <td class="xl66" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext" align="center">Chômage</td>

                                    <td class="xl71" style="border-top:none;border-left:none;font-size:14.0pt;
  color:black;font-weight:700;text-decoration:none;text-underline-style:none;
  text-line-through:none;font-family:Calibri;border-top:.5pt solid windowtext;
  border-right:2.0pt double windowtext;border-bottom:.5pt solid windowtext;
  border-left:2.0pt double windowtext" align="center">0,50 €</td>
                                </tr>

                                <tr style="height:18.75pt" height="25">

                                    <td style="height:18.75pt" height="25"><br /></td>

                                    <td class="xl66" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">Moins de 1250€</td>

                                    <td class="xl71" style="border-top:none;border-left:none;font-size:14.0pt;
  color:black;font-weight:700;text-decoration:none;text-underline-style:none;
  text-line-through:none;font-family:Calibri;border-top:.5pt solid windowtext;
  border-right:2.0pt double windowtext;border-bottom:.5pt solid windowtext;
  border-left:2.0pt double windowtext;background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">0,50
                                        €</td>
                                </tr>

                                <tr style="height:18.75pt" height="25">

                                    <td style="height:18.75pt" height="25"><br /></td>

                                    <td class="xl66" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext" align="center">Moins
                                        de 1750€</td>

                                    <td class="xl71" style="border-top:none;border-left:none;font-size:14.0pt;
  color:black;font-weight:700;text-decoration:none;text-underline-style:none;
  text-line-through:none;font-family:Calibri;border-top:.5pt solid windowtext;
  border-right:2.0pt double windowtext;border-bottom:.5pt solid windowtext;
  border-left:2.0pt double windowtext" align="center">1,00 €</td>
                                </tr>

                                <tr style="height:18.75pt" height="25">

                                    <td style="height:18.75pt" height="25"><br /></td>

                                    <td class="xl66" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">Travailleur d'une ASBL</td>

                                    <td class="xl71" style="border-top:none;border-left:none;font-size:14.0pt;
  color:black;font-weight:700;text-decoration:none;text-underline-style:none;
  text-line-through:none;font-family:Calibri;border-top:.5pt solid windowtext;
  border-right:2.0pt double windowtext;border-bottom:.5pt solid windowtext;
  border-left:2.0pt double windowtext;background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">1,00
                                        €</td>
                                </tr>

                                <tr style="height:18.75pt" height="25">

                                    <td style="height:18.75pt" height="25"><br /></td>

                                    <td class="xl66" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext" align="center">Moins
                                        de 2250€</td>

                                    <td class="xl71" style="border-top:none;border-left:none;font-size:14.0pt;
  color:black;font-weight:700;text-decoration:none;text-underline-style:none;
  text-line-through:none;font-family:Calibri;border-top:.5pt solid windowtext;
  border-right:2.0pt double windowtext;border-bottom:.5pt solid windowtext;
  border-left:2.0pt double windowtext" align="center">1,00 €</td>
                                </tr>

                                <tr style="height:18.75pt" height="25">

                                    <td style="height:18.75pt" height="25"><br /></td>

                                    <td class="xl66" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">Famille Nombreuse</td>

                                    <td class="xl71" style="border-top:none;border-left:none;font-size:14.0pt;
  color:black;font-weight:700;text-decoration:none;text-underline-style:none;
  text-line-through:none;font-family:Calibri;border-top:.5pt solid windowtext;
  border-right:2.0pt double windowtext;border-bottom:.5pt solid windowtext;
  border-left:2.0pt double windowtext;background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">1,00
                                        €</td>
                                </tr>

                                <tr style="height:18.75pt" height="25">

                                    <td style="height:18.75pt" height="25"><br /></td>

                                    <td class="xl66" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext" align="center">Moins
                                        de 2750€</td>

                                    <td class="xl71" style="border-top:none;border-left:none;font-size:14.0pt;
  color:black;font-weight:700;text-decoration:none;text-underline-style:none;
  text-line-through:none;font-family:Calibri;border-top:.5pt solid windowtext;
  border-right:2.0pt double windowtext;border-bottom:.5pt solid windowtext;
  border-left:2.0pt double windowtext" align="center">1,50 €</td>
                                </tr>

                                <tr style="height:18.75pt" height="25">

                                    <td style="height:18.75pt" height="25"><br /></td>

                                    <td class="xl67" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:2.0pt double windowtext;border-left:2.0pt double windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">Plus de 2750€ (Tarif par défaut)</td>

                                    <td class="xl72" style="border-top:none;border-left:none;font-size:14.0pt;
  color:black;font-weight:700;text-decoration:none;text-underline-style:none;
  text-line-through:none;font-family:Calibri;border-top:.5pt solid windowtext;
  border-right:2.0pt double windowtext;border-bottom:2.0pt double windowtext;
  border-left:2.0pt double windowtext;background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">1,50
                                        €</td></tr></tbody></table>
                            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:FR-BE"></span></i></p>
                            <br /></div>

                        <div align="justify"><br /></div>
                        <div align="justify"><br /></div>
                        <div align="justify"><br /></div>
                        <div align="justify"><br /></div>

                        <div align="justify"></div>
                        <div align="justify">
                            <p></p>
                        </div>	                	                    	                    <br />
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>        <!-- Localisation -->
    <footer>
        <div class="container full-height">
            <div class="row coordonnees">
                <div class="col-md-3">
                    <img src="/img/logo-footer.png" class="img-fluid full-img" alt=""/>
                </div>
                <div class="col-md-4">
                    <h5 style="margin-top:75px;"><span style="color:rgba(0,82,158,1);">Espace</span> <span style="color:rgba(157,202,33,1);">Furcan</span> <span style="color:rgba(0,82,158,1);">asbl</span></h5>
                    <p class="text-muted" style="font-size:0.85em; font-weight: bold;">Avenue Notre Dame 123, 1140 Evere, ouvert tous les jours de 10h00 à 20h00, fermé le vendredi.</p>
                </div>
                <div class="col-md-3">
                    <p class="text-muted" style="margin-top:55px; font-size:85%;font-weight: bold;"><span style="color:rgba(0,82,158,1);">Tel : 02 256 85 49<br/>Mail : info@espacefurcan.be</span></p>
                    <p class="text-muted" style="font-size:0.85em;font-weight: bold;"><span style="color:rgba(0,82,158,1);">N° E. : 0693 709 950<br/>IBAN : BE87 7350 5000 4494</span></p>
                </div>
                <div class="col-md-2">
                    <p class="text-muted" style="margin-top:185px; font-size:0.6em;font-weight: bold;"><span style="color:rgba(0,82,158,1);">Copyright © All Rights Reserved</span></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.easing.js"></script>
    <script src="/js/agency.js"></script>
    <script src="/js/myjs.js"></script>
    </body>
    </html>

{% endblock %}