{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}


{% block body %}
    <!-- Services -->
    <section id="services">
        <div class="container"">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="activiteclass">
                <span class="fa-stack fa-5x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-money-bill-alt fa-stack-1x fa-inverse"></i>
                </span>
                    <h2 class="section-heading-act text-uppercase">Vente et achat</h2>
                </div>
                <div class="row">
                    <div class="col-lg-1 text-center">
                    </div>
                    <div class="col-lg-10 text-center">
                        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><b><i><span style="font-size: 18pt; font-family: Helvetica, sans-serif; color: dimgray;"><u>L’activité vente :</u></span></i></b></p>
                        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><b><i><span style="font-size: 18pt; font-family: Helvetica, sans-serif; color: dimgray;"><u><br /></u></span></i></b></p>
                        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE">L’asbl fournie du matériel numérique d’occasion ou neuf (PC de bureau,
PC portables, Tablets, Smartphones, Imprimantes et accessoires divers) via un
commerce social avec des tarifs ajustées à la situation financière de chacun et
des formules adéquates selon les besoins et le budget de chacun, à savoir
jusqu’à -50 % de réduction pour une personne qui est au CPAS, jusqu’à -40 % de
réduction pour une personne qui est au chômage et/ou pour une personne dont les
revenus de son ménage ne dépassent pas 1.250,00 euros par mois, jusqu’à&nbsp;
-30 % de réduction pour un étudiant ou pour une personne dont les revenus de
son ménage ne dépassent pas 1.750,00 euros par mois ou pour une personne qui
travaille dans une asbl, jusqu’à -20 % de réduction pour une personne dont les
revenus de son ménage ne dépassent pas 2.250,00 euros par mois et/ou pour une
famille nombreuse, jusqu’à -10 % de réduction pour une personne dont les
revenus de son ménage ne dépassent pas 2.750,00 euros par mois.</span></i></p>
                        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></p>
                        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><br /></p>
                        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><br /></p>
                        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">
                        </p>
                        <table width="820" cellspacing="0" cellpadding="0" border="0"><colgroup><col style="mso-width-source:userset;mso-width-alt:4022;width:83pt" width="110">
                                <col style="mso-width-source:userset;mso-width-alt:12982;
 width:266pt" width="355" span="2">
                            </colgroup>
                            <tbody>
                            <tr style="height:42.75pt" height="57">

                                <td style="height:42.75pt;width:83pt" width="110" height="57"><br /></td>

                                <td class="xl68" style="width: 266pt; font-size: 16pt; color: white; font-weight: 700; font-family: Calibri; border-width: 2pt 2pt 1pt; border-style: double double solid; border-color: windowtext; background-color: rgb(75, 172, 198); background-position: initial initial; background-repeat: initial initial;" width="355" align="center"><span style="text-decoration: underline;">Statut
  ou</span><br /><u>
                                        Revenus par mois et par ménage</u></td>

                                <td class="xl69" style="width: 266pt; font-size: 16pt; color: white; font-weight: 700; font-family: Calibri; border-width: 2pt 2pt 1pt 0.5pt; border-style: double double solid solid; border-color: windowtext; background-color: rgb(75, 172, 198); background-position: initial initial; background-repeat: initial initial;" width="355" align="center"><u>Vente
                                        ordinateur de bureau avec</u><br /><u>
                                        Réduction</u></td>
                            </tr>

                            <tr style="height:18.75pt" height="25">

                                <td style="height:18.75pt" height="25"><br /></td>

                                <td class="xl65" style="font-size:14.0pt;color:black;font-weight:700;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Calibri;border-top:none;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">CPAS</td>

                                <td class="xl70" style="font-size:14.0pt;color:black;font-weight:700;
  text-decoration:none;text-underline-style:none;text-line-through:none;
  font-family:Calibri;border-top:none;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:.5pt solid windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">50%</td>
                            </tr>

                            <tr style="height:18.75pt" height="25">

                                <td style="height:18.75pt" height="25"><br /></td>

                                <td class="xl66" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext" align="center">Chômage</td>

                                <td class="xl71" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:.5pt solid windowtext" align="center">40%</td>
                            </tr>

                            <tr style="height:18.75pt" height="25">

                                <td style="height:18.75pt" height="25"><br /></td>

                                <td class="xl66" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">Moins de 1250€</td>

                                <td class="xl71" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:.5pt solid windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">40%</td>
                            </tr>

                            <tr style="height:18.75pt" height="25">

                                <td style="height:18.75pt" height="25"><br /></td>

                                <td class="xl66" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext" align="center">Moins
                                    de 1750€</td>

                                <td class="xl71" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:.5pt solid windowtext" align="center">30%</td>
                            </tr>

                            <tr style="height:18.75pt" height="25">

                                <td style="height:18.75pt" height="25"><br /></td>

                                <td class="xl66" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">Etudiant</td>

                                <td class="xl71" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:.5pt solid windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">30%</td>
                            </tr>

                            <tr style="height:18.75pt" height="25">

                                <td style="height:18.75pt" height="25"><br /></td>

                                <td class="xl66" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext" align="center">Travailleur
                                    d'une ASBL</td>

                                <td class="xl71" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:.5pt solid windowtext" align="center">30%</td>
                            </tr>

                            <tr style="height:18.75pt" height="25">

                                <td style="height:18.75pt" height="25"><br /></td>

                                <td class="xl66" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">Moins de 2250€</td>

                                <td class="xl71" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:.5pt solid windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">20%</td>
                            </tr>

                            <tr style="height:18.75pt" height="25">

                                <td style="height:18.75pt" height="25"><br /></td>

                                <td class="xl66" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext" align="center">Famille
                                    Nombreuse</td>

                                <td class="xl71" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:.5pt solid windowtext" align="center">20%</td>
                            </tr>

                            <tr style="height:18.75pt" height="25">

                                <td style="height:18.75pt" height="25"><br /></td>

                                <td class="xl66" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:2.0pt double windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">Moins de 2750€</td>

                                <td class="xl71" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:.5pt solid windowtext;border-left:.5pt solid windowtext;
  background:#DBEEF3;mso-pattern:#DBEEF3 none" align="center">10%</td>
                            </tr>

                            <tr style="height:18.75pt" height="25">

                                <td style="height:18.75pt" height="25"><br /></td>

                                <td class="xl67" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:2.0pt double windowtext;border-left:2.0pt double windowtext" align="center">Plus
                                    de 2750€ (Prix par défaut)</td>

                                <td class="xl72" style="border-top:none;font-size:14.0pt;color:black;
  font-weight:700;text-decoration:none;text-underline-style:none;text-line-through:
  none;font-family:Calibri;border-top:.5pt solid windowtext;border-right:2.0pt double windowtext;
  border-bottom:2.0pt double windowtext;border-left:.5pt solid windowtext" align="center">0%</td>
                            </tr>
                            </tbody></table>
                        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><br /></p>
                        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><br /></p>
                        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><br /></p>
                        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><br /></p>
                        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><b><i><span style="font-size: 18pt; font-family: Helvetica, sans-serif; color: dimgray;"><u>L’activité achat :</u></span></i></b></p>
                        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><b><i><span style="font-size: 18pt; font-family: Helvetica, sans-serif; color: dimgray;"><u><br /></u></span></i></b></p>
                        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE">L’asbl achète du matériel numérique d’occasion (PC de bureau, PC
portables, Tablets, Smartphones, Imprimantes et accessoires divers) de
particuliers ou de gros fournisseurs pour le revendre. L’asbl fait en effet le
rachat de matériel numérique de seconde main, dans le but de le revendre une
fois reconditionné à des tarifs ajustés à la situation financière de chaque
client, selon les besoins et le budget de chacun.</span></i></p>
                        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE"><br /></span></i></p>
                        <p class="MsoNormal" style="text-align: left; margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><i><span style="font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;color:dimgray;mso-fareast-language:
FR-BE">L’asbl offre de ce fait une deuxième vie aux appareils et ceci est tout
aussi bénéfique pour l’environnement. De plus le matériel numérique usagé mais
encore fonctionnel peut être réutilisé dans la communauté.</span></i></p>
                        <p class="MsoNormal" style="margin-bottom: 0.0001pt; line-height: normal; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">



















                        </p>
                        <p class="MsoNormal" style="text-align: left;"><br /></p>
                        <p class="MsoNormal" style="text-align: left;"><br /></p>
                        <p class="MsoNormal" style="text-align: left;"><br /></p>



                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>        <!-- Localisation -->

{% endblock %}